body {
    overflow: hidden;
    background-image: url("../images/header-unsplash.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
.bg-container {
    backdrop-filter: blur(5px);
    z-index: -1;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.inky-login-frame {
    width: 500px;
    height: 700px;
    background: ghostwhite;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
    font-family: "Swis721 Lt BT", sans-serif;
}
.inky-header {
    font-family: inherit;
    font-size: x-large;
    text-align: center;
    padding: 50px 70px 0 70px;
}
.inky-header p {
    font-family: "Palatino Linotype", sans-serif;
    font-size: medium;
    text-align: center;
}
#brand-name {
    text-align: center;
}
#brand-logo {
    width: 50%;
    height: 50%;
}
.inky-login-form form{
    font: inherit;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 15px ;
}
#username-wrapper, #password-wrapper {
    font-family: inherit;
    font-size: medium;
    padding: 10px 15px;
}
.inkyInput, .inkyBtn {
    font: inherit;
    width: 60%;
    height: 2vh;
    padding: 8px;
    border-radius: 5px;
    border-width: thin;
}
#persist-wrapper {
    font: inherit;
    padding: 10px 15px;
}
#inkyBtn {
    padding: 10px 15px
}
#forgot-password-wrapper, #new-user-wrapper {
    font-family: inherit;
    font-size: small;
    text-align: center;
}
.inkyBtn {
    text-align: center;
    background-color: limegreen;
    height: 100%;
    color: white;
}
.inkyBtn:hover {
    background-color: forestgreen;
}

