body {
    overflow: hidden;
    background-image: url("../images/header-unsplash.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
.bg-container {
    backdrop-filter: blur(5px);
    z-index: -1;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.inky-login-frame {
    width: 500px;
    height: 700px;
    background: white ;
    box-shadow: 0 4px 24px rgba(0,0,0,0.3);
    font-family: "Swis721 Lt BT", sans-serif;
}
.inky-header {
    font-family: inherit;
    font-size: x-large;
    text-align: center;
    padding: 50px 70px 0 70px;
}
.inky-header p {
    font-family: "Showcard Gothic", sans-serif;
    font-size: medium;
    text-align: center;
    margin-top: -15px;
}
#brand-name {
    text-align: center;
}
#brand-logo {
    width: 30%;
    height: 30%;
}
.inky-login-form form{
    font: inherit;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 15px ;
}
#username-wrapper, #password-wrapper {
    font-family: inherit;
    font-size: medium;
    padding: 10px 15px;
}
.inkyInput, .inkyBtn {
    font: inherit;
    width: 60%;
    height: 2vh;
    padding: 8px;
    border-radius: 5px;
    border-width: thin;
}
#persist-wrapper {
    font: inherit;
    padding: 10px 15px;
}
#inkyBtn {
    padding: 10px 15px
}
#forgot-password-wrapper, #new-user-wrapper, #data-policy-wrapper {
    font-family: inherit;
    font-size: small;
    text-align: center;
}
.inkyBtn {
    text-align: center;
    background-color: limegreen;
    height: 100%;
    color: white;
}
.inkyBtn:hover {
    background-color: forestgreen;
    cursor: pointer;
}
.inkyBtn:active {
    background-color: forestgreen;
    transform: translateY(2px);
}
@media screen and (max-height: 700px) {
    body {
        overflow: visible;
    }
}
/*#data-policy-wrapper{*/
/*    display: block;*/
/*    font-family: inherit;*/
/*    font-size: small;*/
/*    padding: 10px 15px;*/
/*    text-align: center;*/
/*}*/
/*.inky-data-policy {*/
/*    width: 75%;*/
/*}*/

