/*.top-nav  {*/
/*    font-family: sans-serif;*/
/*    border: 5px lightcoral;*/
/*    text-align: center;*/
/*    float: left;*/
/*}*/

/*a {*/
/*    padding: 10px;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    background-color: lightcoral;*/

/*}*/
/*.site-header {*/
/*    border: 50px lightcoral;*/
/*    font-family: sans-serif;*/
/*    position: relative;*/
/*}*/

/*.top-nav-bar li ul {*/
/*    float: left;*/
/*    list-style: none;*/
/*}*/

.inky-nav-list-left {
    float: left;
    list-style: none;
    text-align: center;
    font-size: large;

}
.inky-nav-list-right {
    list-style: none;
    text-align: center;
    font-size: inherit;
}
