{% extends 'base.html' %}
{% block title %}
InkyPi - Home
{% endblock %}

{% block body %}
    <header id="inky-header-bar">
        <div class="inky-header-navbar">
            <div class="inky-header-wrapper">
                <h1 class="text-center">Inky Pi Portal</h1>
            </div>
        </div>
    </header>
    <footer>

    </footer>










{#    <div class="site-container">#}
{#        <h1 class = "jumbotron text-center">Inky Pi Portal</h1>#}
{#        <div class="top-nav-bar text-center">#}
{#            <ul>#}
{#                <li class="col-sm-4"><a href="/">Home</a></li>#}
{#                <li class="col-sm-4"><a href="/user/">Profile</a></li>#}
{#                <li class="col-sm-4"><a href="/device/">Settings</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
    {#        <nav class="inky-header-nav">#}
{#            <div class="inky-nav-wrapper">#}
{#                <div class="inky-nav-inner">#}
{#                    <a class="navbar-brand" href="#">My Inky</a>#}
{#                    <a class="navbar-brand" href="#">Profile</a>#}
{#                    <a class="navbar-brand" href="#">Settings</a>#}
{#                    <a class="navbar-brand" href="#">Gallery</a>#}
{#                    <a class="navbar-brand" href="#" alt="Photo by Simon Berger on Unsplash">Upload Images</a>#}
{#                    <a class="navbar-brand" href="/login/" style="float: right">Login</a>#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}

{% endblock %}




{#Photo by <a href="https://unsplash.com/@8moments?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Simon Berger</a> on <a href="https://unsplash.com/backgrounds/art/watercolor?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>#}
{#Photo by <a href="https://unsplash.com/it/@isamacouzet?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Isa Macouzet</a> on <a href="https://unsplash.com/photos/72GwiojCwoI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>#}
