{% extends 'base.html' %}
{% block title %}
InkyPi - Home
{% endblock %}

{% block body %}
    <div id="site-container">
        <header id="inky-header">
            <div class="inky-header-navbar">
                <div class="inky-header-wrapper">
                    <h1 class="text-center">Inky Pi Portal</h1>
                </div>
            </div>
            <nav class="inky-header-nav navbar-default">
                <div class="inky-nav-wrapper container-fluid">
                    <div class="inky-nav-inner navbar-header">
                        <div class="inky-nav-brand-wrapper">
                        <a class="navbar-brand" href="#">Inky-Pi Portal</a>
                        <a class="navbar-brand" href="#">Profile</a>
                        <a class="navbar-brand" href="#">Settings</a>
                        </div>
{#                        <a class="inky-nav-brand navbar-brand" href="#">Inky-Pi Portal</a>#}
{#                        <a class="inky-nav-brand navbar-brand" href="#">Profile</a>#}
{#                        <a class="inky-nav-brand navbar-brand" href="#">Settings</a>#}
{#                        <a class="inky-nav-brand navbar-brand" href="#">Inky-Pi Portal</a>#}
{#                        <a class="inky-nav-brand navbar-brand" href="#">Profile</a>#}
{#                        <a class="inky-nav-brand navbar-brand" href="#">Settings</a>#}
{#                        <ul class="inky-nav-list-left navbar-nav row">#}
{#                            <li class="col-sm-4"><a href="/about/">Profile</a></li>#}
{#                            <li class="col-sm-4"><a href="/device/">Settings</a></li>#}
{#                        </ul>#}
                    </div>
                </div>
            </nav>
        </header>
    </div>










{#    <div class="site-container">#}
{#        <h1 class = "jumbotron text-center">Inky Pi Portal</h1>#}
{#        <div class="top-nav-bar text-center">#}
{#            <ul>#}
{#                <li class="col-sm-4"><a href="/">Home</a></li>#}
{#                <li class="col-sm-4"><a href="/user/">Profile</a></li>#}
{#                <li class="col-sm-4"><a href="/device/">Settings</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
