{% extends 'base.html' %}
{% block title %}
InkyPi - Login
{% endblock %}

{% block body %}
    <div class="bg-container">
        <section>
            <div class="inky-login-frame">
                <div class="inky-login-wrapper">
                    <div class="inky-header">
{#                        <div class="inky-logo">#}
                            <img id="brand-logo" src="{{ url_for('static', filename='images/145085.jpg') }}" alt="inky-logo" href="#">
{#                        </div>#}
{#                        <div class="inky-name">#}
                            <h1 id="brand-name">Inky Pi Portal</h1>
{#                        </div>#}
{#                        <div class="inky-motto">#}
                            <p id="brand-motto">Drag. Draw. Drop. Drool</p>
{#                        </div>#}

                    </div>
                    <div class="inky-login-form">
                        <form action="">
                            <!--User Name -->
                            <div class="inky-inputbox">
                                <label>
                                    <input class="inkyInput" maxlength="255" name="username" type="text" placeholder="E-mail address or username" required>
                                </label>
                            </div>
                            <!-- Password -->
                            <div class="inky-inputbox">
                                <label>
                                    <input class="inkyInput" maxlength="64" name="password" type="password" placeholder="Password" required>
                                </label>
                            </div>
                            <div class="persist-login">
                                <label>
                                    <input type="checkbox" name="remember-me">Remember Me
                                </label>
                            </div>
                            <div class="inky-inputbox">
                                <button type="submit" class="inkyBtn">Login</button>
                            </div>
                            <span class="inky-forgot-password"><a href="#">Forgot Password</a></span>
                            <span class="inky-new-user">New User? <a href="#"> Sign-up</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}