{% extends 'base.html' %}
{% block title %}
InkyPi - Sign-Up for a new account!
{% endblock %}

{% block body %}
    <section>
        <div class="inky-signup-frame">
            <div class="inky-signup-wrapper">
                <div class="inky-signup-header">
                    <a href="{{url_for('auth.landing_page')}}"><img id="brand-logo" src="{{ url_for('static', filename='images/inky-logo.png') }}" alt="inky-logo"></a>
                    <h1 id="brand-name">Inky Pi Portal</h1>
                    <p id="brand-motto">Drag. Draw. Drop. Drool</p>
{#                       <hr style="transform: rotate(90deg)">#}
                </div>
                <div class="inky-signup-form">
                    <form method="post">
                        <h1 id="brand-name">Sign Up</h1>
                        <p id="brand-motto">Create your account now</p>
                        <div class="inky-inputbox">
                            <!--Full Name-->
                            <div id="username-wrapper">
                                <label>
                                    <input class="inkyInput" maxlength="255" name="fname" type="text" placeholder="Your Full Name" required>
                                </label>
                            </div>
                             <!--E-mail-->
                            <div id="email-wrapper">
                                <label>
                                    <input class="inkyInput" maxlength="255" name="emailaddr" type="email" placeholder="Your E-mail address" required>
                                </label>
                            </div>
                            <!--User Name-->
                            <div id="username-wrapper">
                                <label>
                                    <input class="inkyInput" maxlength="255" name="username" type="text" placeholder="Choose a username" required>
                                </label>
                            </div>
                            <!--Password-->
                            <div id="password-wrapper">
                                <label>
                                    <input class="inkyInput" maxlength="64" name="password" type="password" placeholder="Password" required>
                                </label>
                            </div>
                            <!--Submit Button-->
                            <div id="inkyBtn">
                                <button type="submit" class="inkyBtn">Create Account</button>
                            </div>
                            <!--Policy & Terms-->
                            <div id="data-policy-wrapper">
                                <p class="inky-data-policy">All your data is stored locally on your device.<br>This is never shared with any 3rd party.</p>
                            </div>
                        </div>
                    </form>
                    <!--New User Registration-->
                    <div id="new-user-wrapper">
                        <span class="inky-new-user">Already have an account? <a href="{{ url_for('auth.landing_page') }}">Log In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}